.dashboard .overview-box.overview-box-1 {
  background-color: #68bafc !important;
}
.dashboard .overview-box.overview-box-1 i {
  color: #3192e1;
}
.dashboard .overview-box.overview-box-1 .overview-box-footer {
  background-color: #3192e1 !important;
}
.dashboard .overview-box.overview-box-2 {
  background-color: #f97bb2 !important; }
.dashboard .overview-box.overview-box-2 i {
  color: #e42a7b !important; }
.dashboard .overview-box.overview-box-2 .overview-box-footer {
  background-color: #e42a7b !important; }
.dashboard .overview-box.overview-box-3 {
  background-color: #ecb74d !important;
}
.dashboard .overview-box.overview-box-3 i {
  color: #997326 !important;
}
.dashboard .overview-box.overview-box-3 .overview-box-footer {
  background-color: #a87611 !important;
}
.dashboard .overview-box.overview-box-4 {
  background-color: #ff9c59 !important; }
.dashboard .overview-box.overview-box-4 i {
  color: #d97c3e !important; }
.dashboard .overview-box.overview-box-4 .overview-box-footer {
  background-color: #d97c3e !important; }
.dashboard .overview-box.overview-box-5 {
  background-color: #21987a !important;
}
.dashboard .overview-box.overview-box-5 i {
  color: #0c6351 !important;
}
.dashboard .overview-box.overview-box-5 .overview-box-footer {
  background-color: #0b7264 !important;
}
.dashboard .overview-box.overview-box-6 {
  background-color: #0fadff !important; }
.dashboard .overview-box.overview-box-6 i {
  color: #0444d9 !important; }
.dashboard .overview-box.overview-box-6 .overview-box-footer {
  background-color: #053ed9 !important; }
.dashboard .overview-box.overview-box-7 {
  background-color: #e07578 !important;
}
.dashboard .overview-box.overview-box-7 i {
  color: #d92716 !important;
}
.dashboard .overview-box.overview-box-7 .overview-box-footer {
  background-color: #d9110a !important;
}